<footer class="site-footer">
  <div class="container site-footer__inner">
    <div>
      <strong>NOMA.</strong> Tech wellness eyewear for calmer screen time.
    </div>

    <div class="site-footer__links">
      <a href="{{ store.url }}">Home</a>
      <a href="{{ store.url ~ '/products' }}">Shop</a>
      <a href="{{ store.url ~ '/page/choose' }}">How to Choose</a>
      <a href="{{ store.url ~ '/page/about' }}">About</a>
    </div>

    <div class="site-footer__meta">
      <salla-social></salla-social>
      <salla-payments></salla-payments>
    </div>
  </div>
</footer>
